.searchInput {
   margin-left: 5%;
   margin-bottom: 10px;

}
.result p{
    margin-top: 0px;

}
.searchInput input {
    width:200px;

}
.results{
    margin-left: 10%;
    width:800px;
}
.footer{
	position:  absolute;
 left: 0;
bottom: 15px; 
width: 100%;
}

