.login {
    margin-left: 50%;
    margin-top: 10%;
}
.error {
    color: #ff0000;
    margin-left: 5%;
}
.login button{
    margin-left: 184px;
}
label {
    padding-right: 25px;
}
.name {
    padding-right: 50px;
}
 a{
    position: absolute;
    top: 20px;
    right: 100px;
}